* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.clock-container {
  background-color: gray;
  height: 500px;
  position: relative;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
