* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.clock-container {
  /* background-color: #F08851; */
  height: 500px;
  position: relative;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 4rem;
}

.timer-bar {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
